nav .nav-link {
    float: right;
}

.page-header {
    margin-top: 0.5rem;
}

/* footer {
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 100%;
   } */

   .py-4 {
    padding-bottom: 1rem!important;
}