/* Navigation Styles */
nav .nav-link {
    float: right;
}

.page-header {
    margin-top: 0.5rem;
}

h1 {
    color: #38b09a;
}

/* Sticky Footer */
#everything-but-footer {
    min-height: calc(100vh - 50px);
}   

#footer {
    min-height: 40px;
    padding-top: 10px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 6px #38b09a solid;
}

/* Portfolio Styles */

.text-block {
    position: relative;
    text-align: center;
    bottom: 3rem;
    background-color: #38b09a;
    color: white;
  } 

  /* Contact Us Styles */
#btn-color {
    background-color: #b0384e;
}

/* Social Media Icons */
.fa {
    padding: 20px;
    float: right;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github-square {
    background: #007bb5;
    color: white;
  }

  .fa-envelope {
    color: white;
  }

  footer

  #phone, #email {
    color: #38b09a;
  }

  a[href^="tel:"], a[href^="mailto:"] {
    color: #38b09a;
  }

  a[href^="tel:"]:hover, a[href^="mailto:"]:hover {
    color: white;
  }

  .portfolio-links {
    color: white;
  }

  #burger {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
