nav .nav-link {
    float: right;
}

.page-header {
    margin-top: 0.5rem;
}

#everythingButFooter {
    min-height: calc(100vh - 50px);
}   

footer {
    height: 40px;
    padding-top: 10px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px #38b09a solid;
}

   /* .py-4 {
    padding-bottom: 1rem!important;
} */

@media only screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        height: auto;
    }
}